/* h1{
    color: cornflowerblue;
} */

/* div{
    display: block;
} */








/* Chapter 43 to 48 task 2 */

/* figure{
    display: inline-block;
    
}

img{
    border:  1px solid cornflowerblue;
    padding: 10px;
}

span{
    margin-left: 80px;
    color: cornflowerblue;
} */







/* Chapter 43 to 48 task 3 */

/* table{
    border: 1px solid cornflowerblue;
    padding: 20px;
}

td{
   padding: 5px;
   border-top: 2px solid black;
} */








 /* CHAPTER 49 TO 52  task 1 and task 3 */

 /* form{
     text-align: center;
     margin-top: 40px;
    
 }
 input{
     width: 250px;
     height: 20px;
     padding: 10px;
     margin-bottom: 15px;
 }

 button{
     width: 60px;
     height: 20px;
     color: cornflowerblue;
     font-weight: bold;
     margin-right: 5px;
 }
 table{
    border: 2px solid cornflowerblue;
    padding: 20px;
    margin: 30px 0px 0px 30px;
}

td{
   padding: 5px;
   border-top: 2px solid black;
}  */